
#AllowOverride All      #请在httpd_vhost.conf. 文件中将该配置开启,才可以在外部使用.htaccess文件



RewriteEngine On

#[flag] 标签学习
#R 重定向标签 重定向到一个新的链接
#C 链接下一条规则。 与下一条规则成为一个主体,如果这一条不匹配,则下一条不进入
#L 结尾规则,立即停止重写操作,并不再应用其他重写规则. 不再匹配下面的规则
#NE 不对url的特殊字符进行hexcode转码
#NC 对匹配的URL 不区分大小写
#G 请求的网页已失效 apache服务器会返回401
#SQA 用于在URL 中截取查询字符串


#[RewriteBase]



#[flag]
#RewriteRule ^(.*)\.htm$ /$1.php    [R=301]    #临时重定向 

#RewriteRule ^(.*)\.htm /$1.html [C]
#RewriteRule ^(.*)\.html /$1.php	

#RewriteRule ^(.*) test/first.php?url=$1 [L]
#RewriteRule ^(.*) test/second.php?url=$1

#RewriteRule ^(.*)\.htm /index.html#$1 [R,NE]
 
#RewriteRule ^tmp\/(.*)\.htm /test/$1\.php [NC]   #对于^tmp\/(.*)\.htm  不区分大小写

#RewriteRule ^jmz/.*$ - [G]

#RewriteRule ^first/(.*)$ /test/first.php?url=$1 [QSA,R]       
# first/index.php?req=jmz    ===>   /test/first.php?url=index.php&req=jmz 





